.category-card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 15px;
    margin: 10px 10px 0 0px;
    width: 100%;
}

.expected-card {
    float: right;
}

.btn-next-month {
    float: right;
}

.used-card {
    float: right;
}